.button {
    @include flex-center(true);

    height: var(--button-height) ;
    padding-inline: 35px;
    font-size: 20px;
    color: var(--color-light);
    background-color: var(--color-dark);
    border: var(--border);
    border-radius: var(--border-radius);
        -webkit-border-radius: var(--border-radius);
        -moz-border-radius: var(--border-radius);
        -ms-border-radius: var(--border-radius);
        -o-border-radius: var(--border-radius);

    user-select: none; 
        -webkit-user-select: none; 
        -ms-user-select: none;

    @include hover {
        color: var(--color-dark);
        background-color: var(--color-acent);
        cursor: pointer;
    }

    &--transparent {
        color: var(--color-dark);
        background-color: transparent;
    }
}