:root {
    --color-dark:    #191A23;
    --color-dark-alt:#292A32;
    --color-light:   #666666;
    --color-acent:   #b9ff66;
    --color-gray:    #f3f3f3;
    --color-gray-alt:#898989;

    --border: 1px solid var(var(--color-dark));
    --border-radius: 14px;
    --border-radius-small: 7px;
    --border-radius-large: 45px;
}